@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #50586c;
  --secondary-color: #dce2f0;
  --border-size: 2.5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #dce2f0;
    --secondary-color: #50586c;
  }
}

* {
  box-sizing: border-box;
  color: var(--primary-color);
}

@layer components {
  .txt-clr-primary {
    color: var(--primary-color);
  }

  .txt-clr-secondary {
    color: var(--secondary-color);
  }

  .link {
    @apply underline hover:opacity-80;
  }

  .btn {
    @apply rounded-full py-1.5 px-4 hover:opacity-80 transition-all text-xs md:text-sm font-medium tracking-wide;
  }

  .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: var(--border-size) solid var(--primary-color);
    @apply btn;
  }

  .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: var(--border-size) solid var(--secondary-color);
    @apply btn;
  }

  .btn-primary-outline {
    border: var(--border-size) solid var(--primary-color);
    @apply btn;
  }

  .btn-secondary-outline {
    border: var(--border-size) solid var(--secondary-color);
    @apply btn;
  }

  .bd-primary {
    border: var(--border-size) solid var(--primary-color);
    @apply transition-all;
  }

  .bd-secondary {
    border: var(--border-size) solid var(--secondary-color);
    @apply transition-all;
  }

  .bd-r-primary {
    border-right: var(--border-size) solid var(--primary-color);
    @apply transition-all;
  }

  .bd-r-secondary {
    border-right: var(--border-size) solid var(--secondary-color);
    @apply transition-all;
  }

  .bd-b-primary {
    border-bottom: var(--border-size) solid var(--primary-color);
    @apply transition-all;
  }

  .bd-b-secondary {
    border-bottom: var(--border-size) solid var(--secondary-color);
    @apply transition-all;
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .form-error {
    @apply block text-red-600 font-medium text-sm;
  }

  .modal-overlay {
    background-color: rgba(80, 88, 108, 0.5);
  }

  .input-line {
    @apply w-full min-w-full max-w-lg px-0.5 py-1 bg-transparent border-b-2 bd-b-secondary focus:outline-none focus:ring-0 focus:bd-b-primary;
  }

  .menu-item {
    @apply block px-4 py-2 text-sm text-left hover:bg-blue-50/50 data-[active=true]:bg-secondary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .writing-mode-vertical-rl {
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
}
